---
layout: default
hide_share_buttons: true
---

<div class="content">
    <h1 class="title is-2">{{ page.title }}</h1>
    {% if page.date != null %}
    <p>
      Published: {{ page.date | date: "%b %-d, %Y" }}

      {% if page.modified != null %}
      , Modified: {{ page.modified | date: "%b %-d, %Y" }}
      {% endif %}
    </p>
    {% endif %}
    {{ content }}
</div>

<div class="tags">
    {% for tag in page.tags %}
      {% include tag.html tag=tag %}
    {% endfor %}
</div>

<!-- {% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %} -->

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}
